---
import "@fontsource/tangerine";
import "@fontsource-variable/montserrat";
import "@fontsource/merriweather";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		background-color: #f6f6f6;
		overflow: hidden;
		height: 100%;
		color: hsl(var(--colour-text-hue) var(--colour-text-saturation) var(--colour-text-luminance));
		scroll-behavior: smooth;
	}

	body {
		font-family: "Montserrat Variable", sans-serif;
		margin: 0;
		overflow-x: hidden;
		overflow-y: scroll;
		height: 100%;
		transform-style: preserve-3d;
	}

	.section {
		padding: 40px 6%;
		background-color: #dae2e7;
		z-index: 10;
		position: relative;
	}

	.main {
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		perspective: 1px;
		scroll-behavior: smooth;
	}

	h1 {
		font-family: "Tangerine";
	}

	.container img {
		width: 100%;
	}

	.astro-imagetools-background-image {
		transform: translateZ(-0.7px) scale(1.7);
		z-index: -1;
		background-position: bottom;
	}

	.astro-imagetools-background-image:first-of-type {
		z-index: 9;
	}

	.imgContain {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.overlayCaption {
		position: relative;
		text-align: center;
		height: 458px;
		text-transform: uppercase;
		font-size: 1.5em;
		padding: 0 2em;
		color: #ffffff;
		font-weight: 200;
		background-color: rgb(0 0 0 / 50%);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	@media (min-width: 768px) {
		.section {
			padding: 100px 8%;
		}
	}

	@media (prefers-reduced-motion: reduce) {
		.main {
			scroll-behavior: auto;
		}
	}
</style>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/src/images/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />

		<div class="main">
			<div id="top"></div>
			<slot />
			<Footer />
		</div>
	</body>
</html>
